header { 
  margin: 0;
  height: 84px;
  padding: 0;
  overflow: hidden;
  background-color: #292524;
  margin: 0;
}
.header-container{
  align-items: center;
    justify-content: center;
}
.header-logo{
  height: 64px;
  width: 64px;
  padding: 10px;
  float: left;
}
.h1-header{
  color: #ffffff; 
  height: 84px;
  padding-left: 10px;
  float: left;
  
}

ul {
  list-style-type: none; 
  margin: 0;
  height: 64px;
  padding: 0;
  overflow: hidden;
  background-color: #C73214;
  
}
li {
  display: block;
  margin-top: 7px;
  color: #D13F1E  ;
  float: left;
  padding: 14px 16px;
  text-decoration: none; 
}

li:hover {
  background-color:#D13F1E;
  box-shadow: 0 0 10px 5px;
}

.navbar-link{
  color: #ffffff; 
  text-decoration: none;
  font-weight: 200;
  
}

.navbar-link:active{
  color: #ffffff; 
  text-decoration: none;
}


footer { 
  margin: 0;
  height: 128px;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  margin: 0;
  
  
}

.h1-footer{
  color: #ffffff;
}
.p-footer{
  color: #ffffff;
}



.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}